.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.details-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 16px;
    background-color: #0077b6;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.details-btn:hover {
    background-color: #023e8a;
}